<div class="container competition">
  <div class="row">
    <h1>AF Competition App</h1>
    <div class="col-md-12">
      <%= simple_form_for @compet do |f|%>
        <%= f.input :name, as: :hidden, input_html: { id: 'competition-name'} %>
      <% end %>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#qualification" role="tab" aria-controls="qualification">รอบเก็บคะแนน</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#sixteen_final" role="tab" aria-controls="sixteen_final">รอบ 16 คน</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#quarter_final" role="tab" aria-controls="quarter_final">รอบ 8 คน</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#semi_final" role="tab" aria-controls="semi_final">รอบรองชนะเลิศ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#final" role="tab" aria-controls="final">รอบชิงชนะเลิศ</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="qualification" role="tabpanel">
          <table class="table table-striped qualification">
            <%= render partial: 'new_competition_section', locals: { range: 18 , score_type: 'qualification' }%>
            <%= render partial: 'new_competition_section', locals: { range: 50 , score_type: 'qualification' }%>            
          </table>
        </div>
        <div class="tab-pane" id="sixteen_final" role="tabpanel">
          <table class="table table-striped final">
            <%= render partial: 'new_competition_section', locals: { range: 18 , score_type: 'sixteen_final' }%>
            <%= render partial: 'new_competition_section', locals: { range: 50 , score_type: 'sixteen_final' }%>    
          </table>
        </div>              
        <div class="tab-pane" id="quarter_final" role="tabpanel">
          <table class="table table-striped final">
            <%= render partial: 'new_competition_section', locals: { range: 18 , score_type: 'quarter_final' }%>
            <%= render partial: 'new_competition_section', locals: { range: 50 , score_type: 'quarter_final' }%>    
          </table>
        </div>
        <div class="tab-pane" id="semi_final" role="tabpanel">
          <table class="table table-striped final">
            <%= render partial: 'new_competition_section', locals: { range: 18 , score_type: 'semi_final' }%>
            <%= render partial: 'new_competition_section', locals: { range: 50 , score_type: 'semi_final' }%>    
          </table>
        </div>
        <div class="tab-pane" id="final" role="tabpanel">
          <table class="table table-striped final">
            <%= render partial: 'new_competition_section', locals: { range: 18 , score_type: 'final' }%>
            <%= render partial: 'new_competition_section', locals: { range: 50 , score_type: 'final' }%>    
          </table>
        </div>
      </div>
      
    </div>
  </div>
  <div class="row">
    <%= link_to 'ดูการแข่งขันทั้งหมด', competitions_path, class: 'btn btn-primary center' %>
    <%= link_to 'ดูคะแนนการแข่งขันทั้งหมด', all_rankings_path, class: 'btn btn-primary center' %>
  </div>
</div>
