<tr class="row-<%= count %>" data-id="<%= @score.id %>" data-round="<%= count %>" data-compet="<%= @competition.id%>">
  <th>ชุดที่ <%= count %></th>
  <td class="score" data-position="0">
    <span><%= score[0]%></span>
  </td>
  <td class="score" data-position="1">
    <span><%= score[1]%></span>
  </td>
  <td class="score" data-position="2">
     <span><%= score[2]%></span>
  </td>
  <td class=" score total-score">
    <span><%= Score.calc(score)%></span>
  </td>
  <% if @competition.range == 18 %>
    <td class=" score count-10">
      <span><%= Score.count_score(score, 10)%></span>
    </td>
    <td class=" score count-9">
      <span><%= Score.count_score(score, 9)%></span>
    </td>
  <% else %>
    <td class=" score count-x-10">
      <span><%= Score.count_x_10(score)%></span>
    </td>
    <td class=" score count-x">
      <span><%= Score.count_score(score, x)%></span>
    </td>
  <% end %>
</tr>
