<div class="container">
  <div class="col-md-12 col-lg-8 offset-lg-2">
    <div class="col-md-12 mt-3">
      <h2><%= "#{@competition.name} #{@competition.range} เมตร รอบ #{@competition.score_type}" %></h2>
      <h3>ชื่อ:&nbsp;<small><%= @game.player_name %></small></h3>
      <h4>หมายเลขเป้า:&nbsp;
        <%= "#{@game.target_number}#{@game.target_slot}"%>
      </h4>
    </div>
    <table class="table table-inverse">
      <tr>
        <th>หมายเลขชุด</th>
        <th></th>
        <th></th>
        <th></th>
        <% if @competition.games.first.team %>
          <th></th>
          <th></th>
          <th>แต้ม</th>
        <% end %>
        <th>คะแนนรวม</th>
        <% if @competition.ten_set? %>
          <th>10</th>
          <th>9</th>        
        <% else %>        
          <th>X + 10</th>
          <th>X</th>
        <% end %>        
      </tr>
      <% determine_round(@competition).times do |count| %>
        <%= render partial: 'score', locals: { count: count + 1, score: @score.send("score#{count + 1}") } %> 
      <% end %>
      <tr>
        <td>คะแนนรวมทั้งหมด</td>
        <td></td>
        <td></td>
        <td></td>
        <% if @competition.games.first.team %>
          <td></td>
          <td></td>
          <td class="total_points"><%= @score.total_points%></td>
        <% end %>
        <td class="total_score"><%= @score.total_score %></td>
        <% if @competition.ten_set? %>
          <td class="ten_count"><%= @score.ten_count %></td>
          <td class="nine_count"><%= @score.nine_count %></td>
        <% else %>
          <td class="x10_count"><%= @score.x_and_10_count %></td>
          <td class="x_count"><%= @score.x_count %></td>
        <% end %>
      </tr>
    </table>
    <div class="col-md-4 offset-md-4 text-center">
      <%= link_to "กลับ", competition_games_path, class: 'btn btn-primary'%>
    </div>
  </div>
</div>
