<div class="container">
  <div class="col-md-12 col-lg-8 offset-lg-2">
    <div class="col-md-12 mt-3">
      <h2><%= "#{@competition.name}_#{@competition.range} รอบ #{@competition.score_type}" %></h2>
      <h3>ชื่อ:&nbsp;<small><%= @game.player_name %></small></h3>
      <h4>หมายเลขเป้า:&nbsp;
        <%= "#{@game.target_number}#{@game.target_slot}"%>
      </h4>
    </div>
    <table class="table table-inverse">
      <tr>
        <th>หมายเลขชุด</th>
        <th></th>
        <th></th>
        <th></th>
        <th>คะแนนรวม</th>
        <% if @competition.score_type == 'qualification' %>
          <th>10</th>
          <th>9</th>        
        <% else %>        
          <th>X + 10</th>
          <th>X</th>
        <% end %>        
      </tr>
      <% (1..10).each do |count| %>
        <%= render partial: 'score', locals: { count: count, score: @score.send("score#{count}") } %> 
      <% end %>
      
      <% if @game.score_type =='50'%>
        <%= render partial: 'score', local: { count: 11, score: @score.score11 } %>
        <%= render partial: 'score', local: { count: 12, score: @score.score12 } %>
      <% end %>
      <tr>
        <td>คะแนนรวมทั้งหมด</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="total_score"><%= @score.total_score %></td>
        <% if @competition.score_type == 'qualification' %>
          <td class="ten_count"><%= @score.ten_count %></td>
          <td class="nine_count"><%= @score.nine_count %></td>
        <% else %>
          <td><%= @score.x_and_ten_count %></td>
          <td><%= @score.x_count %></td>
        <% end %>
      </tr>
    </table>
    <div class="col-md-4 offset-md-4 text-center">
      <%= link_to "กลับ", competition_games_path, class: 'btn btn-primary'%>
    </div>
  </div>
</div>
