<div class="container mt-3">
  <div class="col-md-8 offset-md-2"></div>
  <h3><%= @compet.name %></h3>
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th>#</th>
        <th>ชื่อ</th>
        <th>หมายเลขเป้า</th>
        <th>คะแนนรวม</th>
        <th>X + 10</th>        
        <th>X</th>
        <th>แก้ไขคะแนน</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each_with_index do |game, index| %>
        <tr data-id="<%= game.id %>">
          <td><%= index + 1 %></td>
          <td><%= game.player_name %></td>
          <td><%= game.target_number %></td>
          </td>
          <td><%= game.total_score%></td>
          <td>
            <%= game.score.x_and_10_count %>
          </td>     
          <td>
            <%= game.score.x_count %>
          </td> 
          <td>
            <%= link_to 'แก้ไข', edit_competition_game_path(id: game.id), class: 'btn btn-warning'%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'กลับ', competitions_path,  class: 'btn btn-primary'%>
  <%= link_to 'กลับหน้าแรก', new_competition_path,  class: 'btn btn-primary'%>
</div>
