<div class="container mt-3">
  <h1><%= "การแข่งขัน #{@compet.name} ระยะ #{@compet.range} เมตร รอบ #{@compet.score_type}" %></h1>
  <h3 class="mb-3">กรอกรายชื่อผู้เข้าแข่งขัน</h3>
    <%= form_tag "/competitions/#{@compet.id}/games" do %>
      <%= check_box_tag 'team' %>
      <%= label_tag 'แข่งแบบทีม' %>            
      <% determine_players_amount(@compet).times do |index| %>
        <div>
          <div class="form-group row">
            <div class="col-md-6">
              <%= label_tag "ชื่อผู้เข้าแข่งขันลำดับที่#{index + 1}"%>
              <%= text_field_tag "player[][name]", '', class: 'form-control register-input', autocomplete: 'off' %>
            </div> 
            <div class="col-md-3">
              <%= label_tag "หมายเลขเบาะ"%>
              <%= text_field_tag "player[][target_number]", '', class: 'form-control register-input', autocomplete: 'off' %>
            </div>
            <div class="col-md-3">
              <%= label_tag "เลขเป้า"%>
              <%= text_field_tag "player[][target_slot]", '', class: 'form-control register-input', autocomplete: 'off' %>
            </div>                     
          </div>
        </div>
      <% end %>
    <%= submit_tag "ยืนยัน", class: 'btn btn-primary' %>
    <%= link_to 'กลับ', new_competition_path, class: 'btn btn-primary'%>
  <% end %>
</div>
