<tr>
  <td><%= index %></td>
  <td><%= game.player_name%></td>
  <td><%= "#{game.target_number}#{game.target_slot}"%></td>
  <td><%= game.score.total_score%></td>
  <% if competition.ten_set? %>
    <td><%= game.score.ten_count %></td>
    <td><%= game.score.nine_count %></td>
  <% else %>
    <td><%= game.score.x_and_10_count %></td>
    <td><%= game.score.x_count %></td>
  <% end %>
</tr>
