<tr class="game-row round <%= "round_#{index}" %>" data-id="<%= game.id %>" data-round="<%= index %>" data-compet-id="<%= @competition.id %>">
  <td class="player-score">
    <span>
      <%= game.player_name %>
    </span>
  </td>
  <td class="player-score">
    <span>
      <%= "#{game.target_number}#{game.target_slot}" %>
    </span>
  </td>
  <td class="player-score">
    <%= select_tag 'score', options_for_select(score_option(@competition), game.score.send("score#{index}")[0]), class: 'select-score score1', data: { position: 0 } %>
  </td>
  <td class="player-score">
    <%= select_tag 'score', options_for_select(score_option(@competition), game.score.send("score#{index}")[1]), class: 'select-score score2', data: { position: 1 } %>
  </td>
  <td class="player-score">
    <%= select_tag 'score', options_for_select(score_option(@competition), game.score.send("score#{index}")[2]), class: 'select-score score3', data: { position: 2 } %>
  </td>
  <td class="player-score total-score">
    <span>
      <%= Score.calc game.score.send("score#{index}")%>
      </span>
  </td>
  <% if @competition.range == 18 %>
    <td class="player-score count-10">
      <span><%= Score.count_score(game.score.send("score#{index}"), 10)%></span>
    </td>
    <td class="player-score count-9">
      <span><%= Score.count_score(game.score.send("score#{index}"), 9)%></span>
    </td>
  <% else %>
    <td class="player-score count-x-10">
      <span><%= Score.count_x_10(game.score.send("score#{index}"))%></span>
    </td>
    <td class="player-score count-x">
      <span><%= Score.count_score(game.score.send("score#{index}"), 11)%></span>
    </td>
  <% end %>
</tr>
