<div class="container">
  <div class="col-xs-12">
    <div class="card pb-3">
      <h3 class="card-header text-center">Af Competition Application</h3>
      <%= form_tag '/search_players' do %>
        <div class="form-group text-center mt-3">
          <%= label_tag :target_number, 'ใส่หมายเลขเป้า', class: 'bg-inverse text-white input-label' %>
          <%= text_field_tag :target_number, '', class: 'border-all', id: 'target-number'%>
        </div>
        <div class="form-group text-center mt-3">
          <%= label_tag :select_competition, 'เลือกการแข่งขันที่ต้องการ' %>
          <%= hidden_field_tag :competition_id, '', id: 'competition-id' %>
          <% @on_going_competitions.each do |compet| %>
            <%=link_to "#{render_compet_name(compet)}", '', class: 'btn btn-secondary compet', data: { id: compet.id } %>
          <% end %>
        </div>
        <div class="text-center">
          <%= submit_tag 'เข้าร่วม', class: 'btn btn-primary', id: 'join' %>        
        </div>
      <% end %>
    </div>
  </div>  
</div>
