<div class="container">
  <h1 class="text-center" style="margin: 6rem;">ใบกรอกคะแนน</h1>
  <div class="col-lg-8 offset-lg-2">
    <h2><%= "#{@competition.name} ระยะ #{@competition.range} เมตร รอบ #{@competition.score_type}" %></h2>      
    <h3>เซทที่ <span id="round">1</span></h3>
    <table class="table table-bordered table-inverse">
      <thead>
        <th>ชื่อ</th>
        <th>เป้า</th>
        <th>arr</th>
        <th>arr</th>
        <th>arr</th>
        <th>รวม</th>
        <% if @competition.range == 18 %>
          <th>10</th>
          <th>9</th>
        <% else %>
          <th>X + 10</th>
          <th>X</th>
        <% end %>
      </thead>
      <tbody>
        <% (1..determine_round(@competition)).each do |index| %>
          <%= render partial: "row", collection: @games, as: :game, locals: { index: index, competition: @competition } %>
        <% end %>
      </tbody>
    </table>
    <% (1..determine_round(@competition)).each do |index| %>
      <%= render partial: 'round_button', locals: { index: index }%>
    <% end %>
    <%= link_to 'ดูผลคะแนน', competition_ranking_path(@competition), class: 'btn btn-success btn-block', style: 'margin-top: 5rem;' %>
    <%= link_to 'กลับหน้าแรก', find_path, class: 'btn btn-primary btn-block', style: 'margin-top: 5rem;' %>
  </div>
</div>
